@model IEnumerable<HRM.Models.Admin.CandidateList>

@{
    ViewData["Title"] = "CandidateList";
   Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CandidateList</h1>

<p>
    <a asp-action="CreateCandidate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditCandidate", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCandidate", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
