@model IEnumerable<HRM.Models.Project.ProjectInfo>

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ProjectList</h1>

<p>
    <a asp-action="CreateNewProject">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "GetProject", new {  id=item.Id  }) |
                    @*@Html.ActionLink("Details", "Details", new {  id=item.Id }) |*@
                    @Html.ActionLink("Delete", "DeleteProject", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
